html, body {
  min-height: 100vh;
}

body {
  background-color: #FED59C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 

}

.selects {
  display: flex;
  justify-content: start; 
  gap: 20px; 
  margin: 10px;
}

.selects > div {
  display: flex;
  flex-direction: column;
  justify-content: center; 
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
  text-align: left;
}
.dealstable {
  margin: 10px;
}
.wrapper {
  background-color: #0B2632 ;
  border-radius: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  padding: 2rem; 
  max-width: 100%;
  width: auto;
  width: fit-content;
  max-width: fit-content;
}
.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 8rem;
  margin: auto;
 background-color:#FFF3DC ;
 border-radius: 1rem;
 width: fit-content;
 max-width: fit-content;
}
button {
  color: white; 
  margin-top: 1.25rem; 
  background-color: #0B2632; 
  font-weight: medium; 
  border-radius: 0.5rem; 
  font-size: 0.875rem; 
  padding: 0.625rem 1.25rem;
  margin-right: 0.5rem; 
  margin-bottom: 0.5rem; 
  outline: none;
 
}
button:hover {
  cursor: pointer; /* Делает курсор в виде руки при наведении */
}
.paginationButtons {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  
}